<% content_for :main_class, "prose" %>
<% content_for :hero_content do %>
  <span class="hero__eyebrow">✦ Über <%= User.online.count %> erfahrene Dienstleister</span>
  <h1 class="hero__title">Lesenswerte Office Blogs, Erfahrungsberichte</h1>
  <p class="hero__subtitle">Sie sind herzlich eingeladen Fachartikel einzustellen</p>
  <div class="hero__stats">
    <div>
      <div class="hero__stat-value"><%= @blog_posts.online.count %></div>
      <div class="hero__stat-label">Blog Posts</div>
    </div>
    <div>
      <div class="hero__stat-value"><%= @blogs_all %></div>
      <div class="hero__stat-label">Gelesene Blog Artikel</div>
    </div>
  </div>
<% end %>

<% content_for :hero_picture do %>
  <%= image_tag "hero/blogs.webp", alt: "Office Blog" %>
<% end %>


<div class="content-box content-box--compact">
  <h2>Erfahrungsberichte & Praxiswissen aus dem Büroalltag</h2>
  <h3>Office Blog – Ihre Erfahrungen zählen</h3>
  <p>
    Auf diesen Seiten finden Sie <strong>authentische Erfahrungsberichte</strong>,
    <strong>Lernergebnisse</strong> und <strong>praxisnahe Tätigkeitsbeschreibungen</strong>
    rund um das Thema <strong>Büro, Office-Organisation und Büro-Dienstleistungen</strong>.
  </p>

  <p>
    Möchten Sie etwas aus Ihrem persönlichen Erfahrungsschatz teilen?
    Dann laden wir Sie herzlich ein, Teil unseres Office Blogs zu werden.
  </p>

  <p>
    Wir sind neugierig auf Ihre Perspektive! Im <strong>Office Blog</strong> veröffentlichen wir:
  </p>

  <ul>
    <li>Erfahrungsberichte aus dem Büroalltag</li>
    <li>Erfolge und Herausforderungen – gerne auch Misserfolge</li>
    <li>Tätigkeitsbeschreibungen und Best Practices</li>
    <li>Tipps, Learnings und Einblicke in Office Management und Büroorganisation</li>
  </ul>

  <p>
    Ihr Beitrag bietet echten Mehrwert, inspiriert andere und fördert den Wissensaustausch
    rund um moderne Büroarbeit.
  </p>

</div>

<div class="content-box content-box--text">
  <h4>Meistgelesene Artikel</h4>
  <table class="blog-table">
    <thead>
    <tr>
      <th></th>
      <th>Titel</th>
      <th>Datum</th>
      <th class="text-right">Gelesen</th>
    </tr>
    </thead>
    <tbody>
    <% @most_read_blog_posts.each do |blog_post| %>
      <tr>
        <td><%= image_tag "svg/file.svg", alt: "svg.icon", class: random_css_class %></td>
        <td><%= link_to blog_post.list_title, blog_post %></td>
        <td><%= l(blog_post.created_at, format: :extra_short) %></td>
        <td class="text-right"><%= blog_post.count %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>


<%= content_for :sidebar do %>
  <%= render "shared/sidebar_table", blog_posts: @blog_posts, header: "Aktuelle Blogs" %>
<% end %>

<% content_for :meta_title do %>
Fachartikel zu verschiedenen Themen rund ums Büro.
<% end %>

<% content_for :meta_desc do %>
Leser und Agenturen können hier Blog Artikel einstellen. Fachartikel und Erfahrungen zu Themen rund um das Büro.
<% end %>

<% content_for :cano do %>
https://www.buero-dienstleistungen.com/office-blogs
<% end %>

