<% content_for :main_class, "prose" %>
<% content_for :hero_content do %>
  <span class="hero__eyebrow">✦ Über <%= User.online.count %> erfahrene Dienstleister</span>
  <h1 class="hero__title">Blog Post: <%= @blog_post.list_title %></h1>
  <p class="hero__subtitle">Worum geht es?</p>
  <p><%= @blog_post.teaser %></p>

<% end %>
<% content_for :hero_picture do %>
  <%= image_tag "hero/blog_posts.webp", alt: "Büro Blog Posts" %>
<% end %>


<article class="prose">
  <h2><%= @blog_post.title %></h2>
  <div class="blog-meta">
  <span class="blog-meta__item">
    <%= l(@blog_post.created_at, format: :long) %>
  </span>
  </div>
  <div class="blog-content">
    <%= format_text(@blog_post.content) %>
  </div>
</article>


<%= content_for :sidebar do %>
  <div class="sidebar-card">
    <h3 class="sidebar-card__header">Daten</h3>
    <div class="sidebar-card__body">
      <h4 class="sidebar-card__title">Beitrag von: <%= @blog_post.user.fullname %></h4>
      <p class="sidebar-card__subtitle">erstellt am: <%= l(@blog_post.created_at, format: :extra_short) %></p>
      <% if @blog_post.bildnachweis.present? %>
        <p class="sidebar-card__subtitle">
          <b>Bildquelle: </b>
          <% if @blog_post.bildnachweis.start_with?("http") %>
            <%= link_to URI.parse(@blog_post.bildnachweis).host, @blog_post.bildnachweis, target: "_blank", rel: "noopener" %>
          <% else %>
            <%= @blog_post.bildnachweis %>
          <% end %>
        </p>
      <% end %>
      <p class="sidebar-card__subtitle blue"><b>Lesezeit:</b> <%= @blog_post.lesezeit %> min<br/><b>Aufrufe:</b> <%= @blog_post.count %></p>
    </div>
  </div>

  <%= render "shared/sidebar_table", blog_posts: @more_posts, header: "Mehr Blogs" %>
<% end %>



<% content_for :meta_title do %>
<%= @blog_post.meta_title %>
<% end %>

<% content_for :meta_desc do %>
Bürodienstleistungen: OfficeBlog - <%= @blog_post.meta_desc %>
<% end %>

<% content_for :cano do %>
https://www.buero-dienstleistungen.com/office-blogs/<%= @blog_post.id %>-<%= @blog_post.meta_title.parameterize %>
<% end %>