<footer class="footer">
  <div class="footer__inner">
    <div class="footer__section">
      <h4 class="footer__heading">Bürodienste</h4>
      <%= link_to "Büroservice", offer_path("bueroservice"), class: "footer__link" %>
      <%= link_to "Buchhaltung",offer_path("buchhaltungsservice"), class: "footer__link" %>
      <%= link_to "Schreibservice", offer_path("schreibservice-sekretariatsservice"), class: "footer__link" %>
      <%= link_to "Telefonservice", offer_path("telefonservice"), class: "footer__link" %>
    </div>

    <div class="footer__section">
      <h4 class="footer__heading">Digital</h4>
      <%= link_to "Virtuelle Assistenz", offer_path("virtuelles-buero-und-virtuelle-assistenz"), class: "footer__link" %>
      <%= link_to "Digitale Archivierung", offer_path("digitale-archivierung"), class: "footer__link" %>
      <%= link_to "Social Media Kommunikation", offer_path("social-media-kommunikation"), class: "footer__link" %>
      <%= link_to "Scan Service", offer_path("scan-und-digitalisierungsservices"), class: "footer__link" %>
    </div>

    <div class="footer__section">
      <h4 class="footer__heading">Informationen</h4>
      <%#= link_to "Über uns", root_path, class: "footer__link" %>
      <%= link_to "Werbung schalten", werbung_path, class: "footer__link" %>ds
      <%= link_to "Office Blogs", blog_posts_path, class: "footer__link" %>
      <%= link_to "Visitenkarte anlegen", new_user_path, class: "footer__link" %>
    </div>

    <div class="footer__section">
      <h4 class="footer__heading">Rechtliches</h4>
      <%= link_to "Impressum", impressum_path, class: "footer__link" %>
      <%= link_to "Datenschutz", datenschutz_path, class: "footer__link" %>
      <%= link_to "Werbung", werbung_path, class: "footer__link" %>
      <%= link_to "Kontakt", impressum_path, class: "footer__link" %>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="footer__copy">© <%= Date.current.year %> buero-dienstleistungen.com · <%=link_to "WebDesign WebPages", "https://www.webdesign-webpages.de", target: "_blank" %></div>
  </div>
</footer>